{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Energetic Expressions!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <img src="https://placeimg.com/600/300/animals" alt="" />
    {% block content %}
    {% endblock %}
  </body>
</html>
